@page

@model IndexModel
@{
    ViewData["Title"] = "Login";
}
<title>Login I-SPORT </title>
<link href="C:\Users\Angel Nail\source\repos\I-SPORTUI\I-SPORTUI\resurce\css\bootstrap.css" rel="stylesheet" />
<script src="C:\Users\Angel Nail\source\repos\I-SPORTUI\I-SPORTUI\resurce\js\bootstrap.js"></script>

<form class="container-fluid">
    <div class="row">
        <label>Usuario</label>
        <input id="Usuario" class="form-control" type="text" placeholder="Usuario" />
        <label>Contraseña </label>
        <input id="Contraseña" class="form-control" type="password" placeholder="Contraseña" />
    </div>
    <br />
    <input id="Button1 " class="btn btn-primary"  type="button" value="Iniciar sesion" />
</form>    

    
