@page

@model IndexModel
@{
    ViewData["Title"] = "Login";
}
<title>Login I-SPORT </title>
<link href="C:\Users\Angel Nail\source\repos\I-SPORTUI\I-SPORTUI\resurce\css\bootstrap.css" rel="stylesheet" />
<script src="C:\Users\Angel Nail\source\repos\I-SPORTUI\I-SPORTUI\resurce\js\bootstrap.js"></script>

<form class="container-fluid" method="post" enctype="multipart/form-data">
    <div class="row">
        <label>Usuario</label>
        <input asp-for="user.UserName" class="form-control" type="text" placeholder="Usuario" />
        <label>Contraseña </label>
        <input asp-for="user.Password" class="form-control" type="password" placeholder="Contraseña" />      
    </div>
    <br />
    <div class="d-flex justify-content-end p-2">        
        <button type="submit" value="">Registrar</button>
    </div>
</form>    

    
