@page
@model I_SPORTUI.Pages.I_SPORT.AgregarPartidoModel
@{
}

<h1></h1>
<body >
    <div class="card-deck" >
        <form class="container-fluid" method="post" enctype="multipart/form-data">
            <div>
                <p>Fecha Partido: <input asp-for="partido.Fechapartido" type="date" ></p>
            </div>
            <div>
                <label asp-for="equipo.Id">Equipo Local</label>
                <select asp-for="partido.Equipolocal" asp-items="@(new SelectList(Model.Listaequipo, "Id","Nombre"))">
                    <option> Seleccione Equipo Local </option>
                </select>
            </div>
            <div>
                <label asp-for="equipo.Id">Equipo Visitante</label>
                <select asp-for="partido.Equipovisitante" asp-items="@(new SelectList(Model.Listaequipo, "Id","Nombre"))">
                    <option> Seleccione Equipo Visitante </option>
                </select>
            </div>
            <div>
                <p>Hora partido  <input type="time" name="eta"></p>
            </div>
            <div class="d-flex justify-content-lg-start p-2">
                <button class="btn btn-primary" type="submit" value="">Registrar</button>
                <button class="btn btn-warning" asp-page="/I-SPORT/AgregarPartido">Cancelar</button>
           </div>          
        </form>
    </div>    
</body>