@page
@model I_SPORTUI.Pages.I_SPORT.AgregarequipoModel
@{
    ViewData["Title"] = "Agregarequipo";
}
<h1>Agregarequipo</h1>
<body>
    <div>
        <form class="container-fluid" method="post" enctype="multipart/form-data">
            <div>
                <label>Nombre del equipo</label>
                <input asp-for="Equipo.Nombre" id="Nombre" type="text" placeholder="Nombre del Equipo" />
            </div>
            <div class=" custom-file">
                <input type="file" asp-for="Logo" class="file-input" lang="es">
                <label class="custom-file-label" for="Logo">Elige tu logo</label>
                <input hidden asp-for="Equipo.logo" />
            </div>
            <div class="d-flex justify-content-start p-2">
                <button class="btn btn-primary m-2" role="button">Guardar</button>
                <a asp-page="/I-SPORT/Jugador" class="btn btn-secondary m-2" role="button">Cancelar</a>
                <div class="text-danger" asp-validation-summary="All"></div>
            </div>
        </form>
    </div>
</body>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}
