@page
@model I_SPORTUI.Pages.I_SPORT.EditarequipoModel
@{
    ViewData["Title"] = "Editarequipo";
}

<h1>Editarequipo</h1>
<body>
    <div>
        <form class="container-fluid" method="post" enctype="multipart/form-data">
            <div>
                <label>Nombre del equipo</label>
                <input asp-for="Equipo.Nombre" id="Nombre" class="form-control" type="text" placeholder="Nombre del Equipo" />
            </div>
            <div class=" custom-file">
                <input type="file" asp-for="Logo" class="custom-file-input form-control" lang="es">
                <label class="custom-file-label" for="Logo">Elige tu foto</label>
                <input hidden asp-for="Equipo.logo" />
            </div>
            <div class="d-flex justify-content-end p-2">
                <button type="submit" name="button" value="Editar">Editar</button>
                <button type="submit" name="button" value="Eliminar">Eliminar</button>
                <a asp-page="/I-SPORT/Editarequipo" class="btn btn-secondary m-2" role="button">Cancelar</a>
                <div class="text-danger" asp-validation-summary="All"></div>
            </div>
            <div>
                <label asp-for="Equipo.Id" hidden>ID</label>
                <input asp-for="Equipo.Id" id="txb_idJugador" hidden class="form-control" type="text" placeholder="Estatura en metros" />
            </div>
        </form>
    </div>
</body>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}


