@page
@model I_SPORTUI.Pages.I_SPORT.Ficha_jugadorModel
@{
    ViewData["Title"] = "Ficha_jugador";
}

<h1>Ficha de jugador</h1>
<form class="form-inline my-2 my-lg-0 ">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="card mb-3"  style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="imagenes/futbol.jpg" class="card-img" alt="...">
            <img src="C:\Users\Angel Nail\source\repos\I-SPORTUI\I-SPORT.MODEL\imagenes\futbol.jpg" class="rounded float-left" alt="...">
            <img src="" />
        </div>
        <div class="col-md-12">
            <div class="card-body">
                <h5 class="card-title">Ficha</h5>
                <table style="width:100%;">
                    <tr>
                    <td>Id</td>
                    <td>Nombre col</td>
                    <td>info</td>                    
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Miguel Perez</td>
                        <td>hjkdsfkj</td>
                        <td>
                            <button class="btn-danger">Eliminar</button>
                        <td>
                            <button class="btn-success">Editar</button>
                        <td>
                            <button class="btn-primary">Estadisticas</button>
                        </td>
                    </tr>
                   
                </table>
            </div>
        </div>
    </div>
</div>
