@page
@model I_SPORTUI.Pages.I_SPORT.IndexModel
@{
    ViewData["Title"] = "Index";
}
    <div class="text-center">
        <h1 class="text-center">I-Sport</h1>
        <h2 class="text-center">¿que es el futbol</h2>
        <P class="text-justify">El fútbol, conocido también como balompié o soccer, es un deporte de equipo jugado entre dos conjuntos de 11 jugadores cada uno (futbolistas) y un árbitro que se ocupa del cumplimiento de las reglas; es considerado el deporte más popular del mundo. Es dirigido por la FIFA (Federación Internacional de Asociaciones de Fútbol). Los eventos más importantes del fútbol son la Copa Mundial de Fútbol, la Eurocopa y la Copa América. </P>
        <img class="rounded" src="~/images/intro.jpg" />

    </div>
