@page
@model I_SPORTUI.Pages.I_SPORT.JugadorModel
@{
    ViewData["Title"] = "Jugador";
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="post" enctype="multipart/form-data">
                    <h1>Registrar Jugador</h1>
                    <br />
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" asp-for="Jugador.Nombre" id="Nombre" type="text" placeholder="Nombre del jugador" />
                    </div>
                    <div class="form-group">
                        <label>Fecha de nacimiento</label>
                        <input class="form-control" asp-for="Jugador.Fechanac" type="date" id="fechanac">
                    </div>
                    <div class="form-group">
                        <label>Estatura</label>
                        <input class="form-control" asp-for="Jugador.Estatura" id="Estatura" type="text" placeholder="Estatura en metros" />
                    </div>
                    <div class=" custom-file">
                        <input type="file" asp-for="Foto" class="custom-file-input form-control" lang="es">
                        <label class="custom-file-label" for="Foto">Elige tu Foto</label>
                        <input hidden asp-for="Jugador.Foto" />
                    </div>
                    <div class="form-group">
                        <label asp-for="equipo.Id">Equipo</label>
                        <select class="form-control" asp-for="Jugador.EquipoId" asp-items="@(new SelectList(Model.Listaequipo, "Id","Nombre"))">
                            <option> seleccione su equipo </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="pais.Id">Pais</label>
                        <select class="form-control" asp-for="Jugador.Pais" asp-items="@(new SelectList(Model.Listapaises, "Id","pais"))">
                            <option> seleccione su Pais </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Posicion</label>
                        <select class="form-control" asp-for="Jugador.posicion">
                            <option>Posicion</option>
                            <option value="Portero">Portero</option>
                            <option value="Defensa Central">Defensa Central</option>
                            <option value="Defensa Central">Defensa Central</option>
                            <option value="Defensa libre">Defensa libre</option>
                            <option value="Medio Campo">Medio Campo</option>
                            <option value="Medio Campo Central">Medio Campo Central</option>
                            <option value="Medio Campo Central">Medio Campo Central</option>
                            <option value="Medio Campo Ofensivo">Medio Campo Ofensivo</option>
                            <option value="Medio Centro Ofensivo">Medio Centro Ofensivo</option>
                            <option value="Segundo Delantero">Segundo Delantero</option>
                            <option value="Delantero Inferior">Delantero Inferior</option>
                            <option value="Delantero Central">Delantero Central</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-start p-2">
                        <button class="btn btn-success m-2" type="submit" value="">Registrar</button>
                        <a asp-page="/I-SPORT/Ficha_jugador" class="btn btn-secondary m-2" role="button">Cancelar</a>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

</body>







