@page
@model I_SPORTUI.Pages.I_SPORT.JugadorModel
@{
    ViewData["Title"] = "Jugador";
}
@section Scripts{
    <script>
$(document).ready(function () {
$('.custom-file-input').on("change", function () {
var fileName = $(this).val().split("\\").pop();
$(this).next('.custom-file-label').html(fileName);
});
});
    </script>
}
<h1>Registrar Jugador</h1>
<body>
    <div class="Jugador">
        <form class="container-fluid" method="post" enctype="multipart/form-data">          
            <div>
                <label>Nombre</label>
                <input asp-for="Jugador.Nombre" id="Nombre" class="form-control" type="text" placeholder="Nombre del jugador" />
            </div>
            <div>
                <label>Fecha de nacimiento</label>
                <input asp-for="Jugador.Fechanac" type="date" id="fechanac" class="form-control">
            </div>
            <div>
                <label>Estatura</label>
                <input asp-for="Jugador.Estatura" id="Estatura" class="form-control" type="text" placeholder="Estatura en metros" />
            </div>
            <div>
                <div class=" custom-file">
                    <input type="file" asp-for="Foto" class="custom-file-input form-control" lang="es">
                    <label class="custom-file-label" for="Logo">Choose file</label>
                </div>
            </div>
            <div>
                <label asp-for="Jugador.EquipoId">Equipo</label>
                <select asp-for="equipo.Id" asp-items="@(new SelectList(Model.Listaequipo, "Id","Nombre"))">
                    <option> seleccione su equipo </option>                    
                </select>             
            </div>
            <div>
                <label>Nacionalidad</label>
                <input asp-for="Jugador.Pais" id="Pais" type="text" placeholder="Ingrese su pais" />
            </div>
            <div>
                <label>Posicion</label>

                <select asp-for="Jugador.posicion" id="Posicion">
                    <option>Posicion</option>
                    <option>Portero</option>
                    <option>Defensa Central</option>
                    <option>Defensa Lateral</option>
                    <option>Defensa libre</option>
                    <option>Medio Campo</option>
                    <option>Medio Campo Central</option>
                    <option>Medio Campo Central</option>
                    <option>Medio Campo Ofensivo</option>
                    <option>Medio Centro Ofensivo</option>
                    <option>Segundo Delantero</option>
                    <option>Delantero Inferior</option>
                    <option>Delantero Central</option>
                </select>
            </div>
            <div class="d-flex justify-content-end p-2">
                <button type="submit" value="">Registrar</button>
                <a asp-page="/I-SPORT/Jugador" class="btn btn-secondary m-2" role="button">Cancelar</a>
            </div>
        </form>
    </div>
</body>


