@page
@model I_SPORTUI.Pages.I_SPORT.VerequiposModel
@{
    ViewData["Title"] = "Details";
    }
<h1>Ver equipos</h1>
<div class="card-deck">
    @foreach (var item in Model.equipos)
    {
        var imgPath = $"~/images/{(string.IsNullOrEmpty(item.logo) ? "nonWorkshops.jpg" : item.logo)}";
        <div class="card bg-light m-3" style="min-width:18rem; max-width:30.5%">
            <div class="card-header">
                <h4 class="text-center">@item.Nombre</h4>
            </div>
            <img class="card-img-top img-thumbnail imgThumbnail" src="@Url.Content(@imgPath)" alt="@item.logo" asp-append-version="true">
            <div class="card-body">                         
            </div>
            <div class="card-footer text-center">                
                <a asp-page="/I-SPORT/Editarequipo" asp-route-Id="@item.Id" class="btn btn-info m-1">Editar</a>
            </div>
        </div>
    }
</div>