
@page
@model I_SPORTUI.Pages.I_SPORT.VerpartidoModel
@{
    ViewData["Title"] = "Verpartido";
}

<h1>Verpartido</h1>
<div class="card-deck">
    @foreach (var item in Model.partidos)
    {
        <div class="card bg-light m-3" style="min-width:18rem; max-width:30.5%">
            @foreach (var tm in Model.equipos)
                @if (tm.Id == item.Equipolocal)
                {
                    @foreach (var at in Model.equipos)
                        @if (at.Id == item.Equipovisitante)
                        {
                            <div class="card bg-light m-3" style="min-width:18rem; max-width:30.5%">
                                <div class="card-header">
                                    <div><label>Fecha partido: @item.Fechapartido.ToShortDateString()</label></div>                                    
                                </div>                               
                                <div class="card-body">                                    
                                    <div><label>Equipo Local: @tm.Nombre</label></div>                                    
                                    <div><label>Equipo Visitante: @at.Nombre</label></div>
                                </div>
                                <div class="card-footer text-center">                                  
                                    <a asp-page="/I-SPORT/Editarpartido" asp-route-Id="@item.Id" class="btn btn-info m-1">Editar</a>
                                </div>
                            </div>
                        }
                    }
            </div>
        }
</div>
